* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #233839;
}

.clock-out-ring,
.clock-in-ring {
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.clock-in-ring {
  width: 35vw;
  height: 35vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #233839;
}

.word,
.digits,
.date {
  width: 15vw;
  height: 5vw;
  border-radius: 25%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.word {
  font-size: 2vw;
  font-family: "Source Serif 4", sans-serif;
  color: #714c0f;
}

.digits {
  width: 20vw;
  height: 10vw;
  color: #0cd8e2;
  font-size: 5vw;
  font-family: "VT323", monospace;
  margin: 1.7rem 0;
}

.date {
  height: 3vw;
  font-size: 1.5vw;
  font-family: "Source Serif 4", sans-serif;
  font-weight: 600;
  color: #8ba7a7;
}
